.meals-grid_wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 25rem);
  justify-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.meals-grid_wrapper-list {
  padding: 2rem;
  background-color: rgb(114, 187, 251);
  border-radius: 1.75rem;
}

.meals-grid_wrapper-article {
  width: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.6rem;
  justify-content: space-between;
}

.meals-grid_wrapper-article__img-wrapper {
  width: 100%;
  border-radius: 1.75rem;
  overflow: hidden;
}

.meals-grid_wrapper-article .img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.user_interaction {
  display: flex;
  justify-content: space-between;
}

.meal-title {
  font-size: 1.6rem;
}

.like-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: max-content;
  max-height: 3.6rem;
}

.checkbox-wrapper {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.like-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.icon {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 1.9rem;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper .like-checkbox:checked ~ .icon {
  color: crimson;
}
